<div *ngIf="header.visible">
  <app-header></app-header>
</div>

<section class="my-5 p-5">

  <h2 class="h1-responsive font-weight-bold text-center my-3">Recent posts for {{ username }}</h2>
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
    Below is posts stream for {{ username }}!
  </p>
  <hr class="my-5">
  <div *ngFor="let post of posts">
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
          <img class="img-fluid" [src]="post.imagePath" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8">
        <a style="cursor: pointer;" (click)="onPostDetail(post._id)">
          <h3 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h3>
        </a>
        <p class="dark-grey-text">{{ post.content }}</p>
        <p>by {{ post.username }}, {{ post.dateCreated.toString().slice(0,10) }}</p>
        <div style="display: flex;">
          <a class="btn btn-primary btn-md" [routerLink]="['/stream', post._id]">Read more</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <p class="align-self-center" style="margin: 0; color: red;" *ngIf="userId === null">You must login to read more</p>
        </div>
        <br>
        <div style="display: flex;">
          <a class="btn btn-primary btn-md" [routerLink]="['/stream', post._id, 'comment']">Comment</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <p class="align-self-center" style="margin: 0; color: red;" *ngIf="userId === null">You must login to comment</p>
        </div>
      </div>
    </div>
    <hr class="my-5" *ngIf="posts.length > 0">
  </div>
  <a routerLink="/stream" class="btn btn-danger btn-lg">Back</a>
</section>

