.map-container-section {
  overflow:hidden;
  padding-bottom:40%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

agm-map {
  height: 500px;
  width: 800px;
}
